<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <a class="btn btn-primary btn-lg" href="#">
                <h1 class="mb-1">EVALUACION PRACTICA</h1>
            <h3 class="mb-5">
                <em>Desarrollador APS</em>
            </h3>
            </a>
            <a class="btn btn-primary btn-lg" href="/signin">
                Bienvenido
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>