<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>REGISTRATION</h3>
        </div>
        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <input type="type" name="fullname" placeholder="Full Name" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="email" name="correo" placeholder="correo" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="passwordConfirm" placeholder="Password Confirm" class="form-control">
            </div>
              <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Subscribe to Newslater
      </label>
          </div>
  </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>