<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Entrar</h3>
        </div>
        <img src="/img/logo.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Remember me
      </label>
          </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck2">
      <label class="form-check-label" for="gridCheck2">
        Forgot Password?
      </label>
    </div>
  </div>
            <button class="btn btn-primary btn-block">
              Entrar
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>